NEXT_PUBLIC_APP_URL=http://localhost:3005
NEXT_PUBLIC_SUPABASE_URL=https://umoapqrkcabmdvkmdnqv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_ODIN_LOGIN_URL=https://www.odin.management/login
